*.o
*.a
.cache
compile_commands.json

# Ignore tests but not test source code
test/*
!test/*.[ch]

# Ignore examples but not example source code
examples/*
!examples/*.[ch]

coverage/*
callgrind*

docs/*
